@{
    ViewBag.Title = "Home Page";
}
<div data-dojo-type="js/Dashboard"></div>

<script src="~/Scripts/dojoLibrary/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>

<script>
        require(["dojo/parser", "dojo/domReady!"]);
</script>

<script type="dojo/require">
    at:'dojox/mvc/at'
</script>