@model IEnumerable<Project1MVC.Models.Equipment>

<dt>Equipments Assigned</dt>
<dd>
    <div style="width:10vw;">
        <ol style="padding-left:13px;margin:0; border:0;">
                @foreach (var equipment in Model)
                {
                    <li style="padding: 0;">@equipment.EquipmentName</li>
                }
        </ol>

    </div>
</dd>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/userscripts")
