@using Project1MVC.Models;
@using Project1MVC.Services;
@model Equipment

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="dl-horizontal">
@foreach (string col in ViewBag.displayCols)
{
        <dt>
            @Html.Label(ServicesHelper.GetDisplayName<Equipment>(col))
        </dt>

        <dd>
            @Html.DisplayFor(model => model[col])
        </dd>
}
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
